doctype html
html(lang="zh")
  head
    title !{title}
    link(rel="stylesheet", href="/css/app.css")
  block body
    body !{app}
      h1 Base Template
    script.
      window.context = !{context}
    script(src="/js/app.js")
