doctype html
html(lang="zh")
  head
    title !{title}
    link(rel="stylesheet", href="/css/app.css")
  block body
    body
      div.app !{app}
    script window.context = !{context}
    script(src="/js/app.js")
