@font-face {
  font-family:"iconfont";
  src:font-url("iconfont.eot?hash=9a7c796a6d4e3957eceffe0aab77615c");
  src:font-url("iconfont.eot?hash=9a7c796a6d4e3957eceffe0aab77615c#iefix") format("embedded-opentype"),
      font-url("iconfont.woff?hash=9a7c796a6d4e3957eceffe0aab77615c") format("woff"),
      font-url("iconfont.ttf?hash=9a7c796a6d4e3957eceffe0aab77615c") format("truetype");
}

.icon:before{
  use-font-icon();
}


.icon--arrow-down:before { content: $icon-var-arrow-down}
.icon--arrow-left:before { content: $icon-var-arrow-left}
.icon--arrow-right:before { content: $icon-var-arrow-right}
.icon--arrow-up:before { content: $icon-var-arrow-up}
.icon--bell:before { content: $icon-var-bell}
.icon--delete:before { content: $icon-var-delete}
.icon--edit:before { content: $icon-var-edit}
.icon--play:before { content: $icon-var-play}
.icon--save:before { content: $icon-var-save}
.icon--success:before { content: $icon-var-success}
.icon--waiting:before { content: $icon-var-waiting}
