use-font-icon() {
  font-family: "iconfont"
  position: relative
  top: 0.125em
  display: inline-block
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}


$icon-var-arrow-down= "\e001"
$icon-var-arrow-left= "\e002"
$icon-var-arrow-right= "\e003"
$icon-var-arrow-up= "\e004"
$icon-var-bell= "\e005"
$icon-var-delete= "\e006"
$icon-var-edit= "\e007"
$icon-var-play= "\e008"
$icon-var-save= "\e009"
$icon-var-success= "\e00a"
$icon-var-waiting= "\e00b"
