// background colors
$bg-white = #e7e7e7

// colors
$blue = #298ED2
$black = #25282D
$gray = #3E4346
$white = #e7e7e7

$vs-white = #ffffff
$vs-black = #51545d
$vs-green = #64b497
$vs-yellow = #ffcf2f
$vs-red = #f26522
$vs-blue = #3295d3
$vs-light-gray = #808080
$vs-gray = #3E4346
