.section-wrapper
  width: 85%
  max-width: 1000px
  margin: 0 auto

.section__main
  col(3/4, gutter: 4)
.section__side
  col(1/4, gutter: 4)


.section__main--head,
.section__aside--head
  cf()
  border-bottom: 1px solid l-orange
  .title
    display: block
    font-size: 22px
    line-height: 26px
    float: left;

  .title-desc
    margin-top: 20px;
    line-height: 26px;
    padding-left: 40px;
    float: left;

  .category
  .category-unit
    float: left

  .category
    display: block
    margin-top: 20px
    line-height: 26px

  .category-unit
    padding: 0 5px

.section__aside--head
  .title
    font-size: 20px;

.recipe
  margin-top: 30px
  column(1/3, cycle: 3)

  img
    width: 100%

.rank
  padding-left: 20px
  padding-top: 20px

.rank-unit
  padding: 10px 0;
  .name
    display: block

.hot-tag
  background-color: l-grey
