.tile
  margin-top: 30px
  height: 150px
  background-color: #EAA933

.tile__name
  line-height: 150px;
  text-align: center;
  font-size: 24px;


.section__main--body
  .tile
    column(1/3, cycle: 3)
